.operation{
    padding: 4rem 0;
    display: grid;
    justify-items: center;
    grid-gap: 3rem;

     @media only screen and (min-width: 750px){
        grid-template-columns: repeat(3, 1fr);
        padding: 4rem;
    }

    &__heading{
        grid-column: 1 / -1;
    }
}

.step{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;

    @media only screen and (min-width: 750px){
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 1rem;
        align-items: center;
        justify-items: center;
        position: relative;
    }

    &__number{
        grid-column: 1/2;
        transform: translateX(-50%);

        @media only screen and (min-width: 750px){
            grid-column: 3/4;
            position: absolute;
            top: 0;
            transform: translate(0, -50%);
        }
    }

    &__icon{
        @media only screen and (min-width: 750px){
            grid-column: 3/4;
        }
    }

    &__text{
        grid-column: 3/4;
        @media only screen and (min-width: 750px){
            grid-column: 1 / -1;
        }
    }
}