

.menu{
    grid-column: 2/3;
    width: 100%;
    background-color: $color-gray-light;
    border-radius: 3.5rem 3.5rem 0 0 ;
    transform: translateY(-5rem);
    padding: 4rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 3rem;

    &__restaurant-name{
        grid-column: 1 / -1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list{
        display: grid;
        grid-template-columns: minmax(0,1fr);
        grid-gap: 2rem;
    }

     &__item{
        width: 100%;
        border-radius: 2rem;
        @include box-shadow(.2);
        
    }

    &__type{
        line-height: 3rem;

        &::after{
            content: "";
            height: 3px;
            width: 5rem;
            background-color: $color-tertiary;
            display: block;
        }
    }
}