.step{
    padding: 2.5rem 0;
    background-color: $color-gray-light;
    border-radius: 2rem;
    box-shadow: 0 .3rem 1rem rgba($color-black, .2);

    &__number{
        display: inline-block;
        color: $color-white;
        background-color: $color-primary;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;

    }

    &__text{
        margin-left: 2rem;
        @media only screen and (min-width: 750px){
            margin: 0;
        }
    }

    &:hover{
        background-color: rgba($color-primary, .1);
    }
    &:hover .icon{
        fill: $color-primary;
    }
}