html{
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (min-width: 750px){
        font-size: 70%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a{
    color: currentColor;
    text-decoration: none;
}